<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
          <main>
            <!-- Perfil -->
              <div class="flex justify-center items-center pt-36 flex-wrap" id="self">
                <div class="px-5">
                  <img src="/assets/images/self.png" width="250" class="self">
                </div>
                <div class="px-5 max-w-md">
                  <h1><strong>Olá, eu sou o Diego,</strong></h1>
                  <p class="mt-3">prazer em conhecê-lo. Por favor, dê uma olhada!</p>
                  <p>Sou apaixonado por construir software que melhora a vida daqueles ao meu redor. sou especializado em criar software para clientes que vão desde indivíduos e pequenas empresas 
                    até grandes corporações empresariais. O que você faria se tivesse um especialista em software disponível ao seu alcance?</p>
                </div>
              </div>
            
       
              <!-- Tecnologias -->
                <div class="icon-list flex flex-col items-center my-14 py-14">
                    <label class="text-left m-4">Algumas tecnologias que trabalho:</label>
                    <ul class="flex mt-3">
                      <li class="px-5"><img src="/assets/images/icon-list/git_alt_icon.png" width="60" height="60"></li>
                      <li class="px-5"><img src="/assets/images/icon-list/html5_icon.png" width="60" height="60"></li>
                      <li class="px-5"><img src="/assets/images/icon-list/css3_icon.png" width="60" height="60"></li>
                      <li class="px-5"><img src="/assets/images/icon-list/sass_icon.png" width="60" height="60"></li>
                      <li class="px-5"><img src="/assets/images/icon-list/js_icon.png" width="60" height="60"></li>
                      <li class="px-5"><img src="/assets/images/icon-list/typescript_icon.png" width="60" height="60"></li>
                      <li class="px-5"><img src="/assets/images/icon-list/angular_icon.png" width="60" height="60"></li>
                      <li class="px-5"><img src="/assets/images/icon-list/react_icon.png" width="60" height="60"></li>
                      <li class="px-5"><img src="/assets/images/icon-list/vue_icon.png" width="60" height="60"></li>
                      <li class="px-5"><img src="/assets/images/icon-list/tailwind_icon.png" width="60" height="60"></li>
                    </ul>
                </div>
                <!-- Projetos -->
                <div class="container mx-auto text-center my-14 py-14" id="projetos">
                  <div class="texto-com-borda m-8">Projetos</div>
                  <div class="flex flex-wrap justify-center">
                      <div class="parent rounded"  *ngFor="let item of  projectList" >
                        <div class="child bg-one">
                          <img [src]="item.urlImg" width="200" height="80">
                          <a [href]="item.link" target="_blank" class="a-item">{{item.nome}}</a>
                        </div>
                      </div>
                  </div>
                </div>

            <!--clock-->
            <!-- <app-clock></app-clock> -->
          </main>   
          <footer>
            <div class="border-t-4 border-[#F7AF07] ">
                 <div class="flex ax-w-lg m-auto p-8 justify-center container mx-auto items-center items-baseline">
                  <div class="m-5">
                    <ul>
                      <a routerLink="/sobre" routerLinkActive="active"><li class="item-footer">Sobre</li></a>
                      <a routerLink="/sobre" routerLinkActive="active"><li class="item-footer">Projetos</li></a>
                      <a routerLink="/sobre" routerLinkActive="active"><li class="item-footer">Habilidades</li></a>
                      <a routerLink="/sobre" routerLinkActive="active"><li class="item-footer">Contato</li></a>
                    </ul>
                  </div>
                  <div class="text-center m-5">
                    Midia sociais:
                    <ul class="flex justify-center gap-3">
                      <li><a href="https://www.linkedin.com/in/diego-antonio-da-silva-300603177/"><img src="/assets/images/midia/linkedin_icon.png" width="35" height="35"></a></li>
                      <li><a href="https://www.instagram.com/diihpunk/"><img src="/assets/images/midia/instagram_icon.png" width="35" height="35"></a></li>
                    </ul>
                  </div>
                 </div>
            </div>
          </footer>   
    </div>
</body>
</html>
